<table>
    <tr>
        <td>
            First name:
        </td>
        <td>
            {{ person.first_name }}
        </td>
    </tr>
    <tr>
        <td>
            Last name:
        </td>
        <td>
            {{ person.last_name }}
        </td>
    </tr>
    <tr>
        <td>
            Father name:
        </td>
        <td>
            {{ person.father_name }}
        </td>
    </tr>
    <tr>
        <td>
            Email:
        </td>
        <td>
            {{ person.email }}
        </td>
    </tr>
</table>